body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #743a11;
}
.container{
    position: relative;
    background-color: #F5DEB3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 70%;
    border-radius: 30px;
    box-shadow: 0 0 30px 3px #3d1f09;
}
.container .fa{
    width: 1em;
    font-size: 3vw;
    text-align: center;
}
.password-box, .email-box{
    padding-top: 20px;
    width: 33vw;
}
.confirm{
    margin-top: 20px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    position: absolute;
    top: 5%;
    left: 15%;
}
input{
    height: 2vh;
    width: 30vw;
    font-size: 1.3em;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 2px 2px 10px 3px black;
}
.fa-envelope-o{
    position: absolute;
    top: 21%;
    left: 5%;
}
.ifirst{
    position: absolute;
    top: 34%;
    left: 5%;
}
.iconfirm{
    position: absolute;
    top: 48%;
    left: 5%;
}
.fa-eye,.fa-eye-slash{
    position: absolute;
    left: 90%;
    top: 34%;
}
.fa{
    transition: all 0.2s;
}
@media (min-width: 900px){
    form{
        left: 17%;
    }
    .fa-envelope-o, .ifirst, .iconfirm{
        left: 7%;
    }
    .fa-envelope-o{
        top: 20%;
    }
    .ifirst{
        top: 34%;
    }
    .iconfirm{
        top: 47.5%;
    }
    .fa-eye, .fa-eye-slash{
        top: 33%;
    }
}

.fa-eye:hover, .fa-eye-slash:hover{
    cursor: pointer;
}
.fa-eye:active, .fa-eye-slash:active{
    cursor: default;
}

.register{
    width: 13vw;
    height: 7vh;
    border: solid 3px #744c2f;
    border-radius: 13px;
    cursor: pointer;
    background-color: #744c2f;
    box-shadow: 0 0 3px 3px #000000;
    transition: 250ms;
    color: #ae9f82;
    font-weight: bold;
}
.register:hover{
    transform: scale(1.08);
    background-color: #864d24;
    border: solid 3px #864d24;
    box-shadow: 0 0 3px 3px #3d1f09;
    color: #F5DEB3;
}
.register:active{
    transform: scale(1);
}
.login{
    text-decoration: none;
    padding: 5px;
    background-color: #864d24;
    color: #F5DEB3;
    font-weight: bold;
    transition: all 250ms;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 0 0 3px 3px rgb(0, 0, 0);
    min-width: 105.4px;
    width: 20vw;
    max-width: 205.4px;
    height: 3vh;
    text-align: center;
    margin-bottom: 2vh;
}
.login:hover{
    transform: scale(1.06);
    box-shadow: 0 0 5px 3px #3d1f09;
    border: solid 3px #3d1f09;
    background-color: #F5DEB3;
    color: #864d24;
}
.login:active{
    transform: scale(1);
}
span{
    font-size: 1.4em;
    position: absolute;
    top: 2vh;
    width: 30vw;
    word-wrap: break-word;
    text-align: center;
    color: #3d3da9;
}